<%- include('../layouts/adminHeader') %>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products</h2>
            <p>Here are the products.</p>
            <form class="search-form">
                <input type="text" placeholder="Search" name="search" id="search" class="search-input">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div>
            <a type="button" class="btn btn-primary" href="/admin/addCategory">Add Category</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">S no</th>
                                    <th scope="col">Category Name</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody id="categoriesTableBody">
                                <% for(let i=0; i < categories.length; i++) { %>
                                    <tr>
                                        <td><%= i + 1 %></td>
                                        <td><%= categories[i].catName %></td>
                                        <td class="text-center">
                                            <% if(categories[i].is_Blocked === 'true') { %>
                                                <a id="block-unblock-<%= categories[i]._id %>" style="color: green;" class="block-unblock" data-category-id="<%= categories[i]._id %>" data-action="unblock" onclick="toggleBlockUnblock(this)">Unblock</a>
                                            <% } else { %>
                                                <a id="block-unblock-<%= categories[i]._id %>" style="color: red;" class="block-unblock" data-category-id="<%= categories[i]._id %>" data-action="block" onclick="toggleBlockUnblock(this)">Block</a>
                                            <% } %>
                                        </td>
                                        <td>
                                            <img src="userImages/<%= categories[i].image %>" alt="not " width="100px" height="100px">
                                        </td>
                                        <td class="text-center">
                                            <a href="/admin/editcategory?id=<%=categories[i]._id%>">
                                                <button type="button" class="btn btn-primary" onclick="editCategory('<%=categories[i]._id%>')">Edit</button>
                                            </a>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- .col// -->
            </div>
            <!-- .row // -->
        </div>
        <!-- card body .// -->
    </div>
    <!-- card .// -->
</section>

<br>
<br>

<%- include('../layouts/adminFooter') %>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('search');
        const categoriesTableBody = document.getElementById('categoriesTableBody');
        const allCategoryRows = categoriesTableBody.getElementsByTagName('tr');

        searchInput.addEventListener('input', function () {
            const searchText = searchInput.value.toLowerCase();

            for (let i = 0; i < allCategoryRows.length; i++) {
                const categoryRow = allCategoryRows[i];
                const categoryName = categoryRow.getElementsByTagName('td')[1].innerText.toLowerCase();

                if (categoryName.includes(searchText)) {
                    categoryRow.style.display = '';
                } else {
                    categoryRow.style.display = 'none';
                }
            }
        });
    });

    async function toggleBlockUnblock(element) {
        var categoryId = element.getAttribute('data-category-id');
        var action = element.getAttribute('data-action');

        try {
            const response = await fetch(`/admin/catblock/${categoryId}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ action: action })
            });

            if (!response.ok) {
                throw new Error('Failed to update category');
            }

            const responseData = await response.json();
            if (responseData.success) {
                if (action === "unblock") {
                    element.setAttribute('data-action', 'block');
                    element.innerText = "Block";
                    element.style.color = "red";
                } else {
                    element.setAttribute('data-action', 'unblock');
                    element.innerText = "Unblock";
                    element.style.color = "green";
                }
            } else {
                throw new Error(responseData.error);
            }
        } catch (error) {
            console.error('Error updating category:', error);
            // Handle errors
        }
    }

    function editCategory(categoryId) {
        // Redirect to the edit category page with the category ID
        window.location.href = `/admin/editCategory?id=${categoryId}`;
    }
</script>             