<%- include('../layouts/adminHeader') %>





<form action="/admin/editProduct" method="post" enctype="multipart/form-data" id="addproductform">
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="productName" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="productName" name="productName" value="<%= product.productName %>" required pattern="^[a-zA-Z]+(?: [a-zA-Z]+)*$" title="Only alphabets allowed between spaces">

                        </div>
                        <div class="row gx-3">
                            <div class="col-md-4 mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input type="text" class="form-control" id="price" name="price" value="<%= product.price %>" required pattern="[0-9]+" title="Only numbers allowed">
                            </div>
                            
                            <div class="col-md-4 mb-3">
                                <label for="color" class="form-label">Color</label>
                                <input type="text" class="form-control" id="color" name="color" value="<%= product.color %>" required pattern="[a-zA-Z]+( [a-zA-Z]+)*" title="Only alphabets allowed with space between">
                            </div>
                            
                            <div class="col-md-4 mb-3">
                                <label for="quantity" class="form-label">Quantity</label>
                                <input type="text" class="form-control" id="quantity" name="quantity" value="<%= product.quantity %>" required pattern="[0-9]+" title="Only numbers allowed">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- card end// -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div>
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" rows="4" name="description" value="" id="formdescription"><%= product.description %></textarea>
                        </div>
                    </div>
                </div>
                <!-- card end// -->
                <
                <div class="card mb-4">
                    <div class="card-body">
                        <div>
                            <label class="form-label">Images</label>
                            <input class="form-control" type="file" name="images" multiple id="formimages" onchange="previewImages(event)" />
                            <div id="imagePreview" style="display: flex; flex-wrap: wrap;"></div>
                            <% if (product && product.images && product.images.length > 0) { %>
                                <% product.images.forEach(image => { %>
                                    <img src="userImages/<%= image %>" alt="Product Image" style="width: 100px; height: 100px;">
                                <% }); %>
                            <% } %>
                        </div>
                    </div>
                </div>
                
                
                <!-- card end// -->
            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label class="form-label">Status</label>
                            <select class="form-select" name="visibility" id="formvisibility">
                                <option value="active">active</option>
                                <option value="inactive">inactive</option>
                            </select>
                        </div>
                        <label for="categoryId" class="form-label">Category:</label>
                        <select name="categoryId" id="categoryId" class="form-select">
                            
                            <% categories.forEach((category)=> { %>
                            <option value="<%= category._id %>"><%= category.catName %></option>
                            <% }) %>
                        </select>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button type="submit" class="btn btn-primary">Edit Product</button>
    <input type="hidden" name="id" value="<%=product._id %>">
    
</form>


<br><br>
<%- include('../layouts/adminFooter') %>

<script>
    function previewImages(event) {
        var preview = document.getElementById('imagePreview');
        preview.innerHTML = '';
        var files = event.target.files;

        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();

            reader.onload = function (e) {
                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.width = '90px';
                img.style.height = '90px';
                img.style.marginRight = '10px';
                img.style.marginBottom = '10px';
                img.style.objectFit = 'cover';
                var container = document.createElement('div');
                container.appendChild(img);
                preview.appendChild(container);
            }

            reader.readAsDataURL(file);
        }
    }
</script>