<%- include('../layouts/adminHeader') %>

<div>
<main class="main-content ms-5  col-md-8" >
          

    <div class="content">
        <h1>EDIT CATEGORY</h1>
        <% if(typeof error!=='undefined' ){ %>

          <h6 id="errorMessage" style="color: red;" style="justify-content: center; text-align: center;">
              <%= error %>
                  <%}%>
           
        <form action="/admin/editcategory" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="categoryName" class="form-label">Category Name</label>
              <input type="text" class="form-control" id="catName" name="catName" value="<%= category.catName %>" required>
            </div>
            <div class="mb-3">
              <label for="categoryDescription" class="form-label">Category Description</label>
              <textarea class="form-control" id="description" name="description" rows="3" required><%= category.description %></textarea>
            </div>
          
            <div class="mb-3">
              <label for="image" class="form-label">Category Image</label>
              <input type="file" class="form-control" name="image">
              <% if (category.image) { %>
                  <img src="userImages/<%= category.image %>" alt="Category Image" style="width: 100px; height: 100px;">
              <% } %>
          </div>
            <button type="submit" class="btn btn-primary">Update Category</button>
            <input type="hidden" name="id" value="<%=category._id %>">
          </form>
          
       
    </div>
</main>
</div>
<div><br><br>
    <%- include('../layouts/adminFooter') %>
</div>
