<%- include('../layouts/adminHeader') %>

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.3/css/buttons.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.3/js/buttons.html5.min.js"></script>

<div class="d-flex justify-content-end pe-4 pt-2">
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="salesReportDropdown"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sales Report
        </button>
        <ul class="dropdown-menu" aria-labelledby="salesReportDropdown">
            <li><a class="dropdown-item" href="/admin/salesDaily"><i
                        class="fas fa-calendar-day me-2"></i>Daily</a>
            </li>
            <li><a class="dropdown-item" href="/admin/salesWeekly"><i
                        class="fas fa-calendar-week me-2"></i>Weekly</a>
            </li>
            <li><a class="dropdown-item" href="/admin/salesMonthly"><i
                        class="fas fa-calendar-alt me-2"></i>Monthly</a></li>
            <li><a class="dropdown-item" href="/admin/salesYearly"><i
                        class="fas fa-calendar me-2"></i>Yearly</a></li>
        </ul>
    </div>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table id="myTable" class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 50px;">ID</th>
                    <th>Date</th>
                    <th>Total Orders</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                <% report.forEach((order, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= order._id %></td>
                        <td><%= order.totalOrders %></td>
                        <td>₹<%= order.totalAmount.toFixed(2) %></td>
                    </tr>
                <% }); %>
                <tr> 
                    <td colspan="2"><strong>Total:</strong></td> 
                    <td><%= totalOrders %></td> 
                    <td>₹<%= totalAmount.toFixed(2) %></td> 
                </tr>
            </tbody>   
            </table>
    </div>
</div>

<div class="text-center mb-4">
    <!-- Add these buttons will be handled by DataTables -->
    <a id="pdfButton" class="btn btn-success mr-2" href="/pdf" role="button" aria-controls="myTable">
        Download as PDF
    </a>
    <a id="excelButton" class="btn btn-success" href="/excel" role="button" aria-controls="myTable">
        Download as Excel
    </a>
    
</div>
<br><br><br>
<%- include('../layouts/adminFooter') %>


<script>
    $(document).ready(function() {
    $('#myTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                className: 'buttons-pdf',
                text: 'Download as PDF',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'excelHtml5',
                className: 'buttons-excel',
                text: 'Download as Excel',
                exportOptions: {
                    columns: ':visible'
                }
            }
        ]
    });

    // Custom button click events
    $('#pdfButton').click(function() {
        $('#myTable').DataTable().buttons('pdfHtml5').trigger();
    });

    $('#excelButton').click(function() {
        $('#myTable').DataTable().buttons('excelHtml5').trigger();
    });
});

</script>




