<%- include('../layouts/userHeader') %>


    <br><br>
    <br><br>
    <!-- Shopping Cart Section Start -->
    <div class="section section-padding mt-5">
        <div class="container">

            <%if(cartDetails){%>
                <div class=" main-wrapper" id="reloadPart">


                    <div class="cart-wrapper">
                        <!-- Cart Wrapper Start -->
                        <div class="cart-table table-responsive rounded">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>S no</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total Price</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>


                                <tbody id="cart-items">

                                 

                                    <% cartDetails.forEach((el, index)=> { %>
                                    
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td><b>
                                                <%= el.product.productId.productName %>
                                                </b></td>
                                            <td><img src="userImages/<%=el.product.productId.images[0]%>"
                                                    alt="Product Image" style="max-width: 100px; max-height: 100px;">
                                            </td>
                                            <td>
                                                <%= el.product.price %>
                                            </td>
                                            <td>
                                                <%= el.product.quantity %>
                                            </td>
                                            <td>
                                                <%= el.product.totalPrice * el.product.quantity %>
                                            </td>
                                            <td>
                                                <button class="remove-product btn btn-danger remove-btn"
                                                    data-product-id="<%=el._id %>">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                        <% }); %>


                                            <tr>
                                               
                                            </tr>

                                </tbody>

                            </table>
                        </div>

                        <div class="cart-btn rounded  ">
                            <div class="left-btn">
                                <a href="/userHome" class="btn btn-outline-primary btn-hover-primary">Continue
                                    Shopping</a>
                            </div>
                            <br>
                            <div class="right-btn">
                              
                            </div>
                        </div>

                    </div>

                </div>


                <div class="col-lg-4 ">
                    <!-- Cart Totals Start -->
                    <div class="cart-totals">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="value">Total items:</p>
                                    </td>  
                
                                    <td>
                                        <p class="value"><%=productsCount%></p>
                                    </td>  
                                </tr>
                                <tr>
                                
                                    <td>
                                        <p class="value">Subtotal</p>
                                    </td>
                                    <td>
                                        <p class="price">₹<%=subTotal%></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="value">Shipping</p>
                                    </td>
                                    <td>
                                        <ul class="shipping-list">
                                            <!-- <li class="radio">
                                                <input type="radio" name="shipping" id="radio1" checked="" />
                                                <label for="radio1"><span></span> Flat Rate</label>
                                            </li> -->
                                            <li class="radio">
                                                <input type="radio" name="shipping" id="radio2" />
                                                <label for="radio2"><span></span> Free Shipping</label>
                                            </li>
                                            <li class="radio">
                                                <input type="radio" name="shipping" id="radio3" />
                                                <label for="radio3"><span></span> Local Pickup</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="value">Total</p>
                                    </td>
                                    <td>
                                        <p class="price">₹<%=subTotal%></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="cart-total-btn">
                            <a href="#" class="btn btn-dark btn-hover-primary btn-block">Proceed To Checkout</a>
                        </div>
                    </div>
                    <!-- Cart Totals End -->
                </div>
        </div>
    </div>
    <%}else{%>
        <!-- empty cart start-->
        <div class="container-fluid  mt-100">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h2 class="card-title text-center mt-4">
                            There are no items in your cart
                        </h2>
                        <div class="card-body cart">
                            <div class="col-sm-12 empty-cart-cls text-center">
                                <!-- <img src="/user/assets/images/cart_11386380.png"  height="130" width="130" class="img-fluid mb-4 mr-3"> -->
                                <h4><strong>Your Cart is Empty</strong></h4>

                                <a href="/userHome" class="btn btn-sm btn-primary btn-hover-secondary m-3"
                                    data-abc="true">continue shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- empty cart end-->
        <%}%>



            </div>
            </div>
            <!-- Shopping Cart Section End -->

            <!--Quantity Error Toast  -->
            <div class="toast-container top-0 start-50 translate-middle-x p-3">
                <div class="toast fade" role="alert" aria-live="assertive" id="quantityError" aria-atomic="true">
                    <div class="toast-body">
                        <div class="d-flex gap-4">
                            <span class="text-danger"><i class="fa-solid fa-circle-info fa-lg"></i></span>
                            <div class="d-flex flex-grow-1 align-items-center">
                                <span class="fw-semibold">Cannot increase quantity further</span>
                                <button type="button" class="btn-close btn-close-sm btn-close-black ms-auto"
                                    data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Quantity Error Toast End -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

            <script>
            
           document.addEventListener('DOMContentLoaded',function(){
            const removeElement=document.querySelectorAll('.remove-btn')

                removeElement.forEach(button=>{
                    button.addEventListener('click',function(e){
                        e.preventDefault()
                        const productId=this.getAttribute('data-product-id')
                        console.log(productId);

                        axios.patch('/removeFromCart',{productId})
                        .then((res)=>{
                            console.log(res);
                            if(res.data.removed){
                                window.location.href='/cart'
                            }
                        })
                        .catch(err=>{
                            console.log('error in cart axios',err);
                        })
                    })
                })

           })
              
            </script>






            <%- include('../layouts/userFooter') %>