<%- include('../layouts/userHeader') %>

    <br><br><br>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
        integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <div class="container">

        <div class="row">
            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body">
                        <ol class="activity-checkout mb-0 px-4 mt-3">

                            <!-- billing info -->
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="">
                                        <i class="bx bxs-receipt text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <div>
                                        <h5 class="font-size-16 mb-1">Billing Info</h5>
                                        <p class="text-muted text-truncate mb-4">please enter or select the address</p>
                                        <div class="mb-3">
                                            <form>
                                                <div>
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">

                                                                <label for="Name" class="form-label">Name</label>
                                                                <input type="text" class="form-control" id="namee"
                                                                    name="name" placeholder="Enter your Name" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="locality"
                                                                    class="form-label">Locality</label>
                                                                <input type="text" class="form-control" id="localityy"
                                                                    name="locality" placeholder="Locality" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">

                                                                <label for="mobile" class="form-label">Mobile Number
                                                                </label>
                                                                <input type="number" class="form-control" id="mobilee"
                                                                    name="mobile" placeholder="10-digit number"
                                                                    required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3">

                                                        <label for="Street Address" class="form-label">Address (Area
                                                            and Street)</label>
                                                        <textarea class="form-control" id="Street addresss"
                                                            name="streetAddress" placeholder="" rows="3"
                                                            required></textarea>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="mb-4 mb-lg-0">
                                                                <label for="country" class="form-label">State</label>
                                                                <select class="form-select" name="state" id="statee"
                                                                    required>
                                                                    <option selected>--Select State--</option>
                                                                    <option value="AP">Andhra Pradesh</option>
                                                                    <option value="AR">Arunachal Pradesh</option>
                                                                    <option value="AS">Assam</option>
                                                                    <option value="BR">Bihar</option>
                                                                    <option value="CT">Chhattisgarh</option>
                                                                    <option value="GA">Goa</option>
                                                                    <option value="GJ">Gujarat</option>
                                                                    <option value="HR">Haryana</option>
                                                                    <option value="HP">Himachal Pradesh</option>
                                                                    <option value="JK">Jammu and Kashmir</option>
                                                                    <option value="JH">Jharkhand</option>
                                                                    <option value="KA">Karnataka</option>
                                                                    <option value="Kerala">Kerala</option>
                                                                    <option value="MP">Madhya Pradesh</option>
                                                                    <option value="MH">Maharashtra</option>
                                                                    <option value="MN">Manipur</option>
                                                                    <option value="ML">Meghalaya</option>
                                                                    <option value="MZ">Mizoram</option>
                                                                    <option value="NL">Nagaland</option>
                                                                    <option value="OD">Odisha</option>
                                                                    <option value="PB">Punjab</option>
                                                                    <option value="RJ">Rajasthan</option>
                                                                    <option value="SK">Sikkim</option>
                                                                    <option value="TN">Tamil Nadu</option>
                                                                    <option value="TG">Telangana</option>
                                                                    <option value="TR">Tripura</option>
                                                                    <option value="UP">Uttar Pradesh</option>
                                                                    <option value="UT">Uttarakhand</option>
                                                                    <option value="WB">West Bengal</option>

                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="mb-4 mb-lg-0">
                                                                <label for="city" class="form-label">City</label>
                                                                <input type="text" class="form-control" id="cityy"
                                                                    placeholder="city" name="city" required>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="mb-0">
                                                                <label for="postalCode" class="form-label">Postal
                                                                    Code</label>
                                                                <input type="number" class="form-control"
                                                                    id="postalCodee" name="pincode"
                                                                    placeholder="Postal Code" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <form id="addressForm" action="/placeorder" method="POST">
                                <li class="checkout-item">
                                    <div class="avatar checkout-icon p-1">
                                        <div class="avatar-title rounded-circle bg-primary">
                                            <i class="bx bxs-truck text-white font-size-20"></i>
                                        </div>
                                    </div>
                                    <div class="feed-item-list">
                                        <div>
                                            <h5 class="font-size-16 mb-1">Shipping Info</h5>
                                            <p class="text-muted text-truncate mb-4">Select the address that needs to be
                                                delivered</p>
                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="existing-addresses">
                                                        <h6 class="mb-3">Your Addresses:</h6>
                                                        <% for(let i=0; i < address.length; i++) { %>
                                                            <input class="form-check-input" type="radio"
                                                                name="shippingAddress" id="address<%= i %>"
                                                                value="<%= address[i]._id %>" <% if (i===0) { %> checked
                                                            <% } %>>
                                                                <div class="form-check mb-2 border shadow"
                                                                    style="border-radius: 10px;">
                                                                    <label class="form-check-label"
                                                                        for="address<%= i %>">
                                                                        <span class="fs-14 mb-2 d-block">
                                                                            <%= address[i].name %>
                                                                        </span>
                                                                        <span class="fs-14 mb-2 d-block">
                                                                            <%= address[i].mobile %>
                                                                        </span>
                                                                        <span class="fs-14 mb-2 d-block">
                                                                            <%= address[i].streetAddress %>
                                                                                <%= address[i].locality %>
                                                                        </span>
                                                                        <span class="text-muted fw-normal mb-1 d-block">
                                                                            <%= address[i].city %>
                                                                        </span>
                                                                        <span class="text-muted fw-normal mb-1 d-block">
                                                                            <%= address[i].state %>
                                                                        </span>
                                                                        <span class="text-muted fw-normal d-block">
                                                                            <%= address[i].addressType %>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </form>



                            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
                                data-bs-target="#addAddressModal">
                                + Add New
                                Address</a></button><br><br>

                            <!-- payment info -->
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bxs-wallet-alt text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <div>
                                        <h5 class="font-size-16 mb-1">Payment Info</h5>
                                        <p class="text-muted text-truncate mb-4">please select a payment option</p>
                                    </div>
                                    <div>
                                        <h5 class="font-size-14 mb-3">Payment method :</h5>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-6">
                                                <div data-bs-toggle="collapse">
                                                    <label class="card-radio-label">
                                                        <input type="radio" name="pay-method" id="pay-methodoption1"
                                                            class="card-radio-input">
                                                        <span class="card-radio py-3 text-center text-truncate">
                                                            <i class="bx bx-credit-card d-block h2 mb-3"></i>
                                                            Wallet
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-sm-6">
                                                <div>
                                                    <label class="card-radio-label">
                                                        <input type="radio" name="pay-method" id="pay-methodoption2"
                                                            class="card-radio-input" value="Razorpay">
                                                        <span class="card-radio py-3 text-center text-truncate">
                                                            <i class="bx bxl-paypal d-block h2 mb-3"></i>
                                                            RazorPay
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-sm-6">
                                                <div>
                                                    <label class="card-radio-label">
                                                        <input type="radio" name="pay-method" id="pay-methodoption3"
                                                            class="card-radio-input" value="COD">

                                                        <span class="card-radio py-3 text-center text-truncate">
                                                            <i class="bx bx-money d-block h2 mb-3"></i>
                                                            <span>Cash on Delivery</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col">
                        <a href="userHome" class="btn btn-link text-muted">
                            <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
                    </div> <!-- end col -->
                    <div class="col">
                        <div class="text-end mt-2 mt-sm-0">
                            <a href="" class="btn btn-success " id='place-order-btn'>
                                <i class="mdi mdi-cart-outline me-1  "></i> Procced </a>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row-->
            </div>
            <div class="col-xl-4">
                <div class="card checkout-order-summary">
                    <p id="errormsg" style="color: red; margin-left: 150px;"></p>
                    <div class="card-body">
                        <div class="p-3 bg-light mb-3">
                            <h5 class="font-size-16 mb-0">Order Summary <span class="float-end ms-2">#MN0124</span></h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered mb-0 table-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0" style="width: 110px;" scope="col">Product</th>
                                        <th class="border-top-0" scope="col">Product Desc</th>
                                        <th class="border-top-0" scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cartDetails.forEach((el, index)=> { %>
                                        <tr>
                                            <th scope="row"><img src="userImages/<%= el.product.productId.images[0] %>"
                                                    alt="product-img" title="product-img" class="avatar-lg rounded">
                                            </th>
                                            <td>
                                                <h5 class="font-size-16 text-truncate">
                                                    <%= el.product.productId.productName %>
                                                </h5>
                                                <p class="text-muted mb-0">
                                                    <!-- Assuming rating is not available in cartDetails -->
                                                </p>
                                                <p class="text-muted mb-0 mt-1">₹ <%= el.product.price %> x <%=
                                                            el.product.quantity %>
                                                </p>
                                            </td>
                                            <td>₹ <%= el.subTotal %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                            <tr>
                                                <td colspan="2">
                                                    <h5 class="font-size-14 m-0">Sub Total :</h5>
                                                </td>
                                                <td>₹ <%= subTotal %>
                                                </td>
                                            </tr>
                                            <tr>

                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <h5 class="font-size-14 m-0">Shipping Charge :</h5>
                                                </td>
                                                <td><span class="text-success" id="free-shipping">Free Shipping</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <h5 class="font-size-14 m-0">Estimated Tax :</h5>
                                                </td>
                                                <td> <del>₹ 1250</del></td>
                                            </tr>
                                            <tr class="bg-light">
                                                <td colspan="2">
                                                    <h5  id="orderTotal" class="font-size-14 m-0">Total:</h5>
                                                </td>
                                                <td>₹ <%= subTotal %>
                                                </td>
                                            </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- end row -->

    </div>

    <style>
        body {
            margin-top: 20px;
            background-color: #f1f3f7;
        }

        .card {
            margin-bottom: 24px;
            -webkit-box-shadow: 0 2px 3px #e4e8f0;
            box-shadow: 0 2px 3px #e4e8f0;
        }

        .card {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #eff0f2;
            border-radius: 1rem;
        }

        .activity-checkout {
            list-style: none
        }

        .activity-checkout .checkout-icon {
            position: absolute;
            top: -4px;
            left: -24px
        }

        .activity-checkout .checkout-item {
            position: relative;
            padding-bottom: 24px;
            padding-left: 35px;
            border-left: 2px solid #f5f6f8
        }

        .activity-checkout .checkout-item:first-child {
            border-color: #3b76e1
        }

        .activity-checkout .checkout-item:first-child:after {
            background-color: #3b76e1
        }

        .activity-checkout .checkout-item:last-child {
            border-color: transparent
        }

        .activity-checkout .checkout-item.crypto-activity {
            margin-left: 50px
        }

        .activity-checkout .checkout-item .crypto-date {
            position: absolute;
            top: 3px;
            left: -65px
        }



        .avatar-xs {
            height: 1rem;
            width: 1rem
        }

        .avatar-sm {
            height: 2rem;
            width: 2rem
        }

        .avatar {
            height: 3rem;
            width: 3rem
        }

        .avatar-md {
            height: 4rem;
            width: 4rem
        }

        .avatar-lg {
            height: 5rem;
            width: 5rem
        }

        .avatar-xl {
            height: 6rem;
            width: 6rem
        }

        .avatar-title {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: #3b76e1;
            color: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-weight: 500;
            height: 100%;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%
        }

        .avatar-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 8px
        }

        .avatar-group .avatar-group-item {
            margin-left: -8px;
            border: 2px solid #fff;
            border-radius: 50%;
            -webkit-transition: all .2s;
            transition: all .2s
        }

        .avatar-group .avatar-group-item:hover {
            position: relative;
            -webkit-transform: translateY(-2px);
            transform: translateY(-2px)
        }

        .card-radio {
            background-color: #fff;
            border: 2px solid #eff0f2;
            border-radius: .75rem;
            padding: .5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block
        }

        .card-radio:hover {
            cursor: pointer
        }

        .card-radio-label {
            display: block
        }

        .edit-btn {
            width: 35px;
            height: 35px;
            line-height: 40px;
            text-align: center;
            position: absolute;
            right: 25px;
            margin-top: -50px
        }

        .card-radio-input {
            display: none
        }

        .card-radio-input:checked+.card-radio {
            border-color: #3b76e1 !important
        }


        .font-size-16 {
            font-size: 16px !important;
        }

        .text-truncate {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        a {
            text-decoration: none !important;
        }


        .form-control {
            display: block;
            width: 100%;
            padding: 0.47rem 0.75rem;
            font-size: .875rem;
            font-weight: 400;
            line-height: 1.5;
            color: #545965;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #e2e5e8;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.75rem;
            -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
            transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
        }

        .edit-btn {
            width: 35px;
            height: 35px;
            line-height: 40px;
            text-align: center;
            position: absolute;
            right: 25px;
            margin-top: -50px;
        }

        .ribbon {
            position: absolute;
            right: -26px;
            top: 20px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            color: #fff;
            font-size: 13px;
            font-weight: 500;
            padding: 1px 22px;
            font-size: 13px;
            font-weight: 500
        }
    </style>



    <!-- Modal  for adding address-->
    <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="p-5 shadow rounded bg-white">
                        <h2 class="mb-5 text-center">Manage Address</h2>

                        <div class="row g-3">

                            <div class="col-md-6">
                                <label for="Name" class="form-label">Name</label>
                                <p id="errorname"></p>
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="Enter your Name" required>
                            </div>
                            <div class="col-md-6">
                                <p id="errorphone"></p>
                                <label for="mobile" class="form-label">Mobile Number
                                </label>
                                <input type="number" class="form-control" id="mobile" name="mobile"
                                    placeholder="10-digit number" required>
                            </div>

                            <div class="col-md-6">
                                <p id="erropin"></p>
                                <label for="postalCode" class="form-label">Postal
                                    Code</label>
                                <input type="number" class="form-control" id="postalCode" name="pincode"
                                    placeholder="Postal Code" required>
                            </div>
                            <div class="col-md-6">
                                <label for="locality" class="form-label">Locality</label>
                                <input type="text" class="form-control" id="locality" name="locality"
                                    placeholder="Locality" required>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="Street Address" class="form-label">Address (Area
                                        and Street)</label>
                                    <textarea class="form-control" id="StreetAddress" name="streetAddress"
                                        placeholder="" rows="3" required></textarea>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <label for="city" class="form-label">City/District/Town</label>
                                <input type="text" class="form-control" id="city" placeholder="" name="city" required>
                            </div>

                            <div class="col-md-6">
                                <label for="country" class="form-label">State</label>
                                <select class="form-select" name="state" id="state" required>
                                    <option selected>--Select State--</option>
                                    <option value="AP">Andhra Pradesh</option>
                                    <option value="AR">Arunachal Pradesh</option>
                                    <option value="AS">Assam</option>
                                    <option value="BR">Bihar</option>
                                    <option value="CT">Chhattisgarh</option>
                                    <option value="GA">Goa</option>
                                    <option value="GJ">Gujarat</option>
                                    <option value="HR">Haryana</option>
                                    <option value="HP">Himachal Pradesh</option>
                                    <option value="JK">Jammu and Kashmir</option>
                                    <option value="JH">Jharkhand</option>
                                    <option value="KA">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="MP">Madhya Pradesh</option>
                                    <option value="MH">Maharashtra</option>
                                    <option value="MN">Manipur</option>
                                    <option value="ML">Meghalaya</option>
                                    <option value="MZ">Mizoram</option>
                                    <option value="NL">Nagaland</option>
                                    <option value="OD">Odisha</option>
                                    <option value="PB">Punjab</option>
                                    <option value="RJ">Rajasthan</option>
                                    <option value="SK">Sikkim</option>
                                    <option value="TN">Tamil Nadu</option>
                                    <option value="TG">Telangana</option>
                                    <option value="TR">Tripura</option>
                                    <option value="UP">Uttar Pradesh</option>
                                    <option value="UT">Uttarakhand</option>
                                    <option value="WB">West Bengal</option>

                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="landmark" class="form-label">Landmark</label>

                                <input type="text" class="form-control" id="landmark" name="landmark"
                                    placeholder="optional">
                            </div>
                            <div class="col-md-6">
                                <label for="alternatephone" class="form-label">Alternate
                                    Phone</label>
                                <input type="text" class="form-control" id="alterPhone" name="alterPhone"
                                    placeholder="optional">
                            </div>
                            <div class="col-4">
                                <label for="addresstype" class="form-label">Address
                                    Type</label>
                                <select class="form-select" id="addressType" name="addressType" required>
                                    <option selected>--Select--</option>
                                    <option value="home">Home</option>
                                    <option value="Work">Work</option>


                                </select>
                            </div>

                        </div>
                        <div class="text-center mt-5">
                            <button type="button" id="checkAddAddress" class="btn btn-primary px-4"
                                data-bs-dismiss="modal">Save
                            </button>
                            <!-- <a href="/addaddress" class="btn " style="background-color: #c99c9c;"> Cancel</a> -->
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>



    <%- include('../layouts/userfooter') %>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script>

            document.addEventListener('DOMContentLoaded', function () {
                const addBtn = document.getElementById('checkAddAddress')

                addBtn.addEventListener('click', function () {
                    console.log('addBtn');
                    const name = document.getElementById('name').value
                    console.log(name);
                    const mobile = document.getElementById('mobile').value
                    console.log(mobile);
                    const postalCode = document.getElementById('postalCode').value
                    console.log(postalCode);
                    const locality = document.getElementById('locality').value
                    console.log(locality);
                    const StreetAddress = document.getElementById('StreetAddress').value
                    console.log(StreetAddress);
                    const city = document.getElementById('city').value
                    console.log(city);
                    const state = document.getElementById('state').value
                    console.log(state);
                    const landmark = document.getElementById('landmark').value
                    console.log(landmark);
                    const alterPhone = document.getElementById('alterPhone').value
                    console.log(alterPhone);
                    const addressType = document.getElementById('addressType').value
                    console.log(addressType);


                    const data = {
                        name: name,
                        mobile: mobile,
                        pincode: postalCode,
                        locality: locality,
                        streetAddress: StreetAddress,
                        city: city,
                        state: state,
                        landmark: landmark,
                        alterPhone: alterPhone,
                        addressType: addressType
                    };
                    axios.post('/checkaddress', data)
                        .then(res => {
                            console.log(res);

                            if (res.data.success) { // Changed data.res.success to res.data.success
                                swal({
                                    title: "New Address Added",
                                    text: "The Address has been successfully added to your details.",
                                    icon: "success",
                                    button: "OK",
                                }).then(() => {
                                    window.location.href = '/checkout'; // Redirect after swal confirmation
                                });
                            } else {
                                swal({
                                    title: "Address adding failed",
                                    text: "The Address adding has failed.",
                                    icon: "error",
                                    button: "OK",
                                });
                            }
                        })
                        .catch((err) => {
                            console.log('error in axios address checkout', err);
                        });
                })


            })



            document.addEventListener('DOMContentLoaded', function () {
                const placeorder = document.getElementById('place-order-btn');
                const errormsg = document.getElementById('errormsg');

                placeorder.addEventListener('click', function (e) {
                    e.preventDefault();
                    console.log('proceed clicked ');

                    const selectAddress = document.querySelector('input[name="shippingAddress"]:checked');
                    console.log('selectedAddress', selectAddress); // Corrected variable name

                    if (!selectAddress) {
                        errormsg.innerHTML = 'Please select an address';
                        return;
                    }

                    const paymentOption = document.querySelector('input[name="pay-method"]:checked');
                    console.log('paymentOption', paymentOption)
                    if (!paymentOption) {
                        errormsg.innerHTML = 'Please select a payment option';
                        return;
                    }
                    var orderAmount = document.getElementById('orderTotal').textContent.trim()
                    var numericalPart = orderAmount.replace('₹', '');
                    var Amount = parseFloat(numericalPart);

                    console.log('Amount',Amount);

                    const selectedAddressValue = selectAddress.value;
                    console.log('selectedAddressValue', selectedAddressValue);

                    const paymentOptionValue = paymentOption.value;
                    console.log('paymentOptionValue', paymentOptionValue);


                    if (paymentOptionValue === "COD") {

                        axios.post('/placeorder', { selectedAddressValue, paymentOptionValue })
                            .then(res => {
                                if (!res.data.success) {
                                    errormsg.innerHTML = res.data.message;
                                } else {
                                    const orderId = res.data.orderId;
                                    window.location.href = `/ordersuccess?orderId=${orderId}`;
                                }
                            })
                            .catch(err => {
                                console.log('error in axios changing status', err);
                            });
                    } else if (paymentOptionValue === 'Razorpay') {

                        axios.post('/createorder', { selectedAddressValue })
                            .then(res => {
                                if (res.data.success) {
                                    console.log(res.data);
                                    const { orderId } = res.data
                                    console.log('orderId',orderId);

                                    var options = {
                                        key: res.data.key_id,
                                        amount: res.data.amount * 100,
                                        currency: 'INR',
                                        name: 'Royal Oak',
                                        description: 'Test Transaction',
                                        order_id: orderId,


                                      
                                        handler: function (response) {
                                            const status = 'success'
                                            console.log('status', status);

                                            axios.post('/verification', {

                                                response,
                                                razorpay_payment_id: response.razorpay_payment_id,
                                                razorpay_order_id: response.razorpay_order_id,
                                                razorpay_signature: response.razorpay_signature
                                            }).then(res => {
                                                if (res.data.success) {

                                                    axios.post(`/placeorder?transactionId=${res.data.razorpay_payment_id}`, { selectedAddressValue, paymentOptionValue })
                                                        .then(res => {
                                                            if (!res.data.success) {

                                                                errormsg.innerHTML = res.data.message;
                                                            } else {
                                                                const orderId = res.data.orderId;
                                                                window.location.href = `/ordersuccess?orderId=${orderId}`;
                                                            }
                                                        })
                                                        .catch(err => {
                                                            console.log('error in axios changing status razorpay', err);
                                                        });
                                                }
                                                else{
                                                    alert('payment verification failed')
                                                }
                                            })
                                            .catch(err=>{
                                                console.error('verification failed',err)
                                                
                                                alert('verification failed')
                                            })

                                        },
                                        prefill:{

                                        },
                                        theme:{
                                            // start from here
                                            color: "#2300a3"
                                        }
                                    };
                                    var razorpayObject= new Razorpay(options)
                                    razorpayObject.on('payment.failed',function(res){
                                        const status ='pending'
                                        axios.post('/placeorder',{selectedAddressValue, paymentOptionValue})
                                        .then(res=>{
                                            if(!res.data.success){
                                                const orderId = res.data.orderId;
                                                 window.location.href = `/orderpage?totalOrderAmount=`+Amount;
                                            }
                                        })
                                    })
                                    razorpayObject.open()
                                }
                            })
                            .catch(err=>{
                                console.log('error in checkout',err);
                            })
                    }else{

                    }
                });
            });



        </script>