<%- include('../layouts/profileHeader') %>




    <section class="content-main">
        <div class="content-header">
            <div >
                <h2 class="content-title card-title">Order List</h2>
                <p>All orders List</p>
            </div>
            <div>
             
            </div>
        </div>
        
                    
            </header>
            <!-- card-header end// -->
            <div class="image-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Image</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <!-- <th>Status</th> -->
                            <th>Details</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(orderDetails){ %>
                            <% orderDetails.forEach(function(order) { %>
                                <% order.orderedItem.forEach(item => { %>
                                    <% if(item.productId && item.productId.productName){ %>
                                        <tr>
                                            <td>
                                                <img src="/userImages/<%= item.productId.images[0] %>" alt="Product Image" class="order-image" style="width: 80px; height: auto;">
                                            </td>
                                            <td><%= item.productId.productName %></td>
                                            <td><%= item.quantity %></td>
                                            <td>₹<%= item.totalProductAmount %></td>
                                          
                                            <td>
                                                <a href="javascript:void(0)" class="btn btn-success btn-sm view-btn font-sm text-white" data-id="<%= order._id %>">View</a>
                                            </td>
                                            <% if(order.orderStatus === 'delivered') { %>
                                               
                                                <td>
                                                    <a href="/invoice?orderId=<%= order._id %>" class="btn btn-sm btn-primary" style="background-color: blue; width: 100px; height: 30px;">Invoice</a>
                                                </td>
                                              
                                                
                                            <% } else { %>
                                                <!-- Display order status with conditional color -->
                                                <td style="<%= order.orderStatus === 'pending' ? 'color: blue;' : (order.orderStatus === 'cancelled' || order.orderStatus === 'returned' ? 'color: red;' : '') %>">
                                                    <%= order.orderStatus %>
                                                </td>
                                            <% } %>
                                            
                                            
                                        </tr>
                                    <% } %>
                                <% }); %>
                            <% }); %>
                        <% } %>
                    </tbody>
                    
                </table>
            </div>
            
            
            
          
        </div>
   
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- content-main end// -->
  

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.addEventListener('click', function(event) {
                if (event.target.classList.contains('view-btn')) {
                   
                    var orderId = event.target.getAttribute('data-id');
                    console.log("orderId", orderId);
                   
                    window.location.href = '/singleorder?orderId=' + orderId;
                }
            });
        });
    </script>


<%- include('../layouts/profileFooter') %>