<%- include('../layouts/userHeader') %>

  <br><br><br>


  <div class="order-success">
    <div class="success-circle">
      <i class="fas fa-check"></i>
    </div>
    <h1>Thank you.</h1>
    <p class="lead">Your order has been placed successfully.</p>
    <!-- Other order details here -->
  </div>

  </div>
  <div class="container-fluid">
    <div class="container text-center">

    
    <p class="w-lg-50 mx-auto">Your order number is <a href="#">9237427634826</a>. We will immediately process your order, and it will be delivered in 2 - 5 business days.</p>
  </div>
  <div class="row">
      <div class="col-lg-12">
          <div class="order_details_iner">
              <h3>Order Details</h3>
              <table class="table table-borderless">
                  <thead>
                      <tr>
                          <th scope="col">Product</th>
                       
                          <th scope="col">Quantity</th>
                          <th scope="col" class="text-right">Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% orderDetails.forEach((el, index)=> { %>
                          <% el.orderedItem.forEach((item, idx) => { %>
                              <tr>
                                  <td><%= item.productId.productName %></td>
                              
                                  <td><%= item.quantity %></td>
                                  <td class="text-right"><%= item.totalProductAmount %></td>
                              </tr>
                          <% }); %>
                      <% }); %>
                  </tbody>
                  <tfoot>
                      <tr>
                          <th colspan="3" class="text-right">Total</th>
                          
                      </tr>
                  </tfoot>
              </table>
          </div>
      </div>
  </div>
  

  </div>

  <h2 class="h5 mb-5 text-center">You may also like these products</h2>
  <div class="card text-center mb-3">
    <div class="card-body">
      <div class="row">
        <% product.slice(0, 4).forEach((product)=> { %>
          <% if (!product.is_blocked && !product.categoryId.is_blocked) { %>
            <div class="col-lg-3">
              <img src="userImages/<%= product.images[0] %>" alt="<%= product.productName %>" class="img-fluid mb-4" />
              <h5 class="fs-6 text-truncate"><a href="/productdetails/<%= product._id %>"
                  class="stretched-link text-reset">
                  <%= product.productName %>
                </a></h5>
              <p class="text-success">₹<%= product.price %>
              </p>
            </div>
            <% } %>
              <% }) %>
      </div>
    </div>
  </div>


  <style>
    .order-success {
      text-align: center;
    }

    .success-circle {
      width: 150px;
      height: 150px;
      background-color: green;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 20px;
    }

    .success-circle i {
      color: white;
      font-size: 64px;
    }
  </style>

  <br><br><br>

  <%- include('../layouts/userFooter') %>